USE [BookRentalShopDB]
GO
/****** Object:  Table [dbo].[booksTBL]    Script Date: 2021-02-17 오후 2:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booksTBL](
	[bookIdx] [int] IDENTITY(1,1) NOT NULL,
	[cateIdx] [varchar](8) NOT NULL,
	[bookName] [nvarchar](100) NOT NULL,
	[author] [nvarchar](100) NOT NULL,
	[interpreter] [nvarchar](100) NULL,
	[company] [nvarchar](100) NOT NULL,
	[releaseDate] [date] NOT NULL,
	[ISBN] [char](13) NULL,
	[price] [decimal](10, 0) NULL,
	[descriptions] [nvarchar](max) NULL,
	[regDate] [date] NULL,
 CONSTRAINT [PK_booksTBL] PRIMARY KEY CLUSTERED 
(
	[bookIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cateTBL]    Script Date: 2021-02-17 오후 2:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cateTBL](
	[cateIdx] [varchar](8) NOT NULL,
	[cateName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cateTBL] PRIMARY KEY CLUSTERED 
(
	[cateIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memberTBL]    Script Date: 2021-02-17 오후 2:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberTBL](
	[memberIdx] [int] IDENTITY(1,1) NOT NULL,
	[memberName] [nvarchar](50) NOT NULL,
	[memberID] [varchar](20) NOT NULL,
	[password] [varchar](250) NOT NULL,
	[levels] [char](1) NOT NULL,
	[mobile] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[address] [nvarchar](150) NULL,
	[regDate] [date] NULL,
	[lastLoginDt] [datetime] NULL,
	[loginIpAddr] [varchar](15) NULL,
 CONSTRAINT [PK_memberTBL] PRIMARY KEY CLUSTERED 
(
	[memberIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rentalTBL]    Script Date: 2021-02-17 오후 2:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rentalTBL](
	[rentalIdx] [int] IDENTITY(1,1) NOT NULL,
	[memberIdx] [int] NOT NULL,
	[bookIdx] [int] NOT NULL,
	[rentalDt] [datetime] NULL,
	[returnDt] [datetime] NULL,
	[rentalState] [char](1) NULL,
 CONSTRAINT [PK_rentalTBL] PRIMARY KEY CLUSTERED 
(
	[rentalIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[booksTBL] ON 

SET IDENTITY_INSERT [dbo].[booksTBL] OFF
GO
INSERT [dbo].[cateTBL] ([cateIdx], [cateName]) VALUES (N'N0001', N'공포/스릴러')
INSERT [dbo].[cateTBL] ([cateIdx], [cateName]) VALUES (N'N0002', N'로맨스')
INSERT [dbo].[cateTBL] ([cateIdx], [cateName]) VALUES (N'N0003', N'무협')
GO
SET IDENTITY_INSERT [dbo].[memberTBL] ON 

INSERT [dbo].[memberTBL] ([memberIdx], [memberName], [memberID], [password], [levels], [mobile], [email], [address], [regDate], [lastLoginDt], [loginIpAddr]) VALUES (1, N'김현수', N'nhsk0767', N'1234', N'B', N'01049420767', N'nhsk0767@gmail.com', N'부산진구 부암동', CAST(N'2021-02-17' AS Date), NULL, NULL)
INSERT [dbo].[memberTBL] ([memberIdx], [memberName], [memberID], [password], [levels], [mobile], [email], [address], [regDate], [lastLoginDt], [loginIpAddr]) VALUES (2, N'최연성', N'am3251', N'p@ssw0rd!', N'A', N'01039013464', N'am3251@naver.com', N'부산', CAST(N'2021-02-17' AS Date), NULL, NULL)
INSERT [dbo].[memberTBL] ([memberIdx], [memberName], [memberID], [password], [levels], [mobile], [email], [address], [regDate], [lastLoginDt], [loginIpAddr]) VALUES (3, N'성홍렬', N'ghd0276', N'1111', N'C', N'01077590276', N'ghd0276@naver.com', N'부산', CAST(N'2021-02-17' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[memberTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[rentalTBL] ON 

INSERT [dbo].[rentalTBL] ([rentalIdx], [memberIdx], [bookIdx], [rentalDt], [returnDt], [rentalState]) VALUES (1, 3, 2, CAST(N'2021-01-29T00:00:00.000' AS DateTime), CAST(N'2021-02-01T00:00:00.000' AS DateTime), N'2')
INSERT [dbo].[rentalTBL] ([rentalIdx], [memberIdx], [bookIdx], [rentalDt], [returnDt], [rentalState]) VALUES (2, 18, 4, CAST(N'2021-02-02T00:00:00.000' AS DateTime), NULL, N'3')
INSERT [dbo].[rentalTBL] ([rentalIdx], [memberIdx], [bookIdx], [rentalDt], [returnDt], [rentalState]) VALUES (3, 11, 6, CAST(N'2021-02-02T00:00:00.000' AS DateTime), NULL, N'4')
SET IDENTITY_INSERT [dbo].[rentalTBL] OFF
GO
ALTER TABLE [dbo].[booksTBL]  WITH CHECK ADD  CONSTRAINT [FK_booksTBL_cateTBL] FOREIGN KEY([cateIdx])
REFERENCES [dbo].[cateTBL] ([cateIdx])
GO
ALTER TABLE [dbo].[booksTBL] CHECK CONSTRAINT [FK_booksTBL_cateTBL]
GO
ALTER TABLE [dbo].[rentalTBL]  WITH CHECK ADD  CONSTRAINT [FK_rentalTBL_booksTBL] FOREIGN KEY([bookIdx])
REFERENCES [dbo].[booksTBL] ([bookIdx])
GO
ALTER TABLE [dbo].[rentalTBL] CHECK CONSTRAINT [FK_rentalTBL_booksTBL]
GO
ALTER TABLE [dbo].[rentalTBL]  WITH CHECK ADD  CONSTRAINT [FK_rentalTBL_memberTBL] FOREIGN KEY([memberIdx])
REFERENCES [dbo].[memberTBL] ([memberIdx])
GO
ALTER TABLE [dbo].[rentalTBL] CHECK CONSTRAINT [FK_rentalTBL_memberTBL]
GO
